@import url(encabezado.css);
@import url(nav.css);
@import url(nav-nos.css);
@import url(footer.css);
@import url(login.css);
@import url(nosotros.css);
@import url(fonts.css);
@import url(modal.css);
@import url(modalUs.css);
@import url(perfiles.css);

main{
    margin: 0;
    padding: 0;
}
body{
    /* background: whitesmoke; */
    scroll-behavior: smooth;
}

.content {
    min-height: 70vh;
}