.card {
    background-color: #0056b3;
    color: #fff;
    min-height: 400px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.card:hover {
    transform: scale(1.05); /* Aumenta el tamaño un 5% */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}

@media (max-width: 576px) {
    .card {
        margin: 3rem;
    }
}