.footer {
    background-image: linear-gradient(to top, #350b99 0%,   #1137b4 75%, #022786 100%);
    background-color: #004AAD;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    flex-wrap: wrap;
}

/* Logo y nombre de la compañía */
.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    width: 90px;
    height: auto;
    margin-bottom: 10px;
}

.footer-company-name {
    font-size: 1.2em;
    font-weight: bold;

}

.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-center h2 {
    font-size: 1em;
    margin-bottom: 10px;
}

.redes-sociales {
    display: flex;
    gap: 20px;
}

.redes-sociales a {
    display: inline-block;
    transition: transform 0.3s, box-shadow 0.3s;
}

.redes-sociales img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.redes-sociales a:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 15px #3c08b6;
}

.footer-nav {
    display: flex;
    gap: 30px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;

}

.footer-nav a:hover {
    text-decoration: none;
    box-shadow: 0 4px 15px #4810cc;
}

/* Derechos de autor */
.footer-copyright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #ddd;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-nav {
        margin-top: 20px;
        flex-direction: column;
    }
}