.modal-con{
    display: flex;
    background-color: rgba(219, 198, 198, 0.555); /* Opcional, para visualizar el div */
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
}
.show{
    pointer-events: auto;
    opacity: 1;
    z-index: 1001;
}
.modal{
background: whitesmoke;
    width: 50%; /*Define el ancho */
    margin: 0 auto; /*Aplica margin auto para centrar horizontalmente*/
    padding: 30px 50px; 
    border-radius: 10px;
    display: flex;
    box-shadow: 0 2px 4px rgba(243, 139, 41, 0.384);
}
/* Estetica de las cards */
.nombre-rol {
    margin-bottom: 10px; 
}
.rol {
    font-size: 1rem;
    color: #555;
    margin-top: 5px; 
}
.imagen {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}
.caja-texto {
    max-width: 500px;
}
.caja-texto p {
    color: #333;
    line-height: 1.6;
}
.social-links {
    margin-top: 10px;
}
.social-links a {
    /* margin-right: 10px; */
    text-decoration: none;
}
.social-links img {
    width: 30px;
    height: auto;
}