*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    position: fixed;
    width: 100%;
    /* background: #004AAD; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;
}
nav.active{
    background: red;
    padding: 15px;
}
nav.active .logo,
nav.active ul li a{
    color: red;
}
.logo{
    font-size: 25px;
    color: #000;
    font-weight: 100;
}
.logo2{
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover; 
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin: 10px;
}
.menu li a{
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}
.menu li a:hover{
    padding: 5px 10px;
    background: #fff;
    color: #004AAD;
    border-radius: 15px;
}
.scrol{
    height: 100px;
}