*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;
}
nav.active{
    background: #004AAD;
    padding: 15px;
    z-index: 1000;
}
nav.active .logo,
nav.active ul li a{
    color: whitesmoke;
}
nav.active ul li a:hover{
    background: whitesmoke;
    color: #004AAD;
}
/* color y diseño del boton de logeo */
nav.active .btn-snin:hover{
    background: whitesmoke;
    color: #004AAD;
}
@media (max-width: 768px) {
    .navbar-collapse {
        background-color: #004AAD;
        padding: 10px;
        border-radius: 0 0 10px 10px;
    }

    /* Asegúrate de que los enlaces en el menú sean visibles en pantallas pequeñas */
    .navbar-collapse .nav-link {
        color: whitesmoke;
        padding: 10px;
    }

    .navbar-collapse .nav-link:hover {
        background-color: whitesmoke;
        color: #004AAD;
        border-radius: 10px;
    }
}

/* fin de boton de logeo */
.logo{
    font-size: 25px;
    color: #000;
    font-weight: 100;
}
.logo2{
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover; 
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin: 10px;
}
.menu li a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}
.menu li a:hover{
    padding: 5px 10px;
    background: #004AAD;
    color: whitesmoke;
    border-radius: 15px;
}
.btn-snin{
    padding: 5px;
    color: #004AAD;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
    border-radius: 15px;
    border: none;
    transition: all 0.5s ease;
}
.btn-snin:hover{
    padding: 5px 10px;
    background: #004AAD;
    color: whitesmoke;
    border-radius: 15px;
}
/* Botón Sign In */
.btn-signin {
    font-size: 1rem;
    font-family: 'Righteous', cursive;
    color: #004AAD;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    border: 1px #004AAD solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #F8F8F0;
}

.btn-signin:hover {
    background-color: #0056b3;
    color: #F8F8F0;
}
.scrol{
    height: 100px;
}