/* Estilos generales del navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004AAD;
    border-radius: 20rem; 
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Righteous', cursive; 
}

.logo {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover; 
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.navbar-menu li {
    margin: 0;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 20px; 
    transition: background-color 0.3s, color 0.3s;
}

.navbar-menu a:hover {
    background-color: #0056b3;
    color: #fff;
}

.navbar-buttons {
    display: flex;
}

/* Botón Sign In */
.btn-signin {
    font-size: 1rem;
    font-family: 'Righteous', cursive;
    color: #004AAD;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    border: 1px #004AAD solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #F8F8F0;
}

.btn-signin:hover {
    background-color: #0056b3;
    color: #F8F8F0;
}

/* Estilos responsive */
@media (max-width: 868px) {
    .navbar-menu {
        max-height: 0;
        flex-direction: column;
        width: 100%;
        background-color: #004AAD;
        position: absolute;
        top: 60px; 
        left: 0;
        border-radius: 30px;
        padding: 0 20px; 
        margin-top: 30px;
        overflow: hidden; 
        transition: max-height 0.5s ease-out; 
    }

    .navbar-menu.active {
        max-height: 400px; 
        padding: 20px; 
    }

    .navbar-menu a {
        padding: 15px;
        text-align: center;
    }

    .navbar-toggle {
        display: block;
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 1.5em;
        color: #fff;
        padding: 10px;
    }

    .navbar-toggle-icon::before {
        content: "\2630"; 
    }
}