
body {
    background-color: #F8F8F0;
    font-family: 'Righteous', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#bg{
    background-image: 
        linear-gradient(to bottom, rgba(255, 165, 0, 0.7), rgba(0, 0, 255, 0.7)), 
        url('../assets/recursos/bg1.jpg');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}
header {
    background-image: url('../assets/recursos/banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
h2 {
    font-size: 1.5rem;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
/* soluciiona problema de logo de karuna */
#logo{
    display: flex;
}
/* soluciiona problema de logo de karuna */
.logo {
    max-width: 200px; 
    height: auto;
    object-fit: contain;
    cursor: pointer;
    /* efecto */
    transition: transform 0.3s ease;
}
/* efctos de logo */
.logo:hover{
    transform: scale(1.3);
}
/* efctos de logo */
h1 {
    font-size: 2rem;
    margin: 20px 0;
}
/* main {
    padding: 20px;
} */
.sections-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.left-section, .right-section {
    width: 45%; 
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    /* efectos */
    transition: transform 0.3s ease,
    boxshadow 0.3s ease;
}
/* efecto en procese */
.left-section:hover, .right-section:hover{
transform: scale(1.1);
box-shadow: 0px 4px 15px rgba(255, 185, 33, 0.507);
}
/* efecto en proceso */
.nombre-rol {
    margin-bottom: 10px; 
}
.rol {
    font-size: 1rem;
    color: #555;
    margin-top: 5px; 
}
.imagen {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}
.caja-texto {
    max-width: 500px;
}
.caja-texto p {
    color: #333;
    line-height: 1.6;
}
.social-links {
    margin-top: 10px;
}
.social-links a {
    /* margin-right: 10px; */
    text-decoration: none;
}

.social-links img {
    width: 30px;
    height: auto;
}
/* Modal */
#perfil{
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease,
    boxshadown 0.3s ease;
}
#perfil:hover{
    transform: scale(1.3);
    box-shadow: 0px 4px 15px rgba(255, 185, 33, 0.507);
}
.perfil {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    padding-top: 15px;
}
.perfil img {
    width: 100px; 
    height: auto;
    cursor: pointer;
    border-radius: 50%; 
}

.perfil .info {
    text-align: center; 
    margin-top: 10px; 
}

.perfil .info p {
    margin: 0; 
    font-size: 14px; 
    color: #333;
}
#nombre{
    text-align: left;
    font-size: 16px;
}

.modal {
    display: none; /* Ocultar por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ajusta el ancho del modal */
    max-width: 600px; /* Ancho máximo */
    display: flex;
    align-items: center;
    /* asds */
    background: #fff;
    border-radius: 10px;
}

.modal-content img {
    width: 100px; /* Ajusta el tamaño de la imagen en el modal */
    height: auto;
    margin-right: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Ocultador */
#hidden{
    display: none;
}
