body {
    background-color: #F8F8F0;
    font-family: 'Righteous', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-image: url('../assets/recursos/banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
h2 {
    font-size: 1.5rem;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.logo {
    max-width: 200px; 
    height: auto;
    object-fit: contain;
    cursor: pointer;
    /* efecto */
    transition: transform 0.3s ease;
}
/* efctos de logo */
.logo:hover{
    transform: scale(1.1);
}
/* efctos de logo */
h1 {
    font-size: 2rem;
    margin: 20px 0;
}
main {
    padding: 20px;
}
.sections-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.left-section, .right-section {
    width: 45%; 
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    /* efectos */
    transition: transform 0.3s ease,
    boxshadow 0.3s ease;
}
/* efecto en procese */
.left-section:hover, .right-section:hover{
transform: scale(1.1);
box-shadow: 0px 4px 15px rgba(255, 185, 33, 0.507);
}
/* efecto en proceso */
.nombre-rol {
    margin-bottom: 10px; 
}
.rol {
    font-size: 1rem;
    color: #555;
    margin-top: 5px; 
}
.imagen {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}
.caja-texto {
    max-width: 500px;
}
.caja-texto p {
    color: #333;
    line-height: 1.6;
}
.social-links {
    margin-top: 10px;
}
.social-links a {
    margin-right: 10px;
    text-decoration: none;
}

.social-links img {
    width: 30px;
    height: auto;
}

@media only screen and (max-width: 768px) {
  
    .sections-container {
      flex-direction: column;
      padding: 20px;
    }
  
    .left-section, .right-section {
      width: 98%;
      margin-bottom: 20px;
    }
  
    .logo, .imagen {
      width: 80px;
    }

  }