body {
    font-family: 'Righteous';
    background: linear-gradient(135deg, #F8F8F0 25%, #3468D9 25%, #3468D9 50%, #F8F8F0 50%, #F8F8F0 75%, #3468D9 75%);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}
.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.forum-container {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 300px;
    z-index: 1000;
}
.card {
    margin: 15px;
    border: 1px solid #3468D9;
    border-radius: 8px;
}
.card-header {
    background-color: #3468D9;
    color: white;
}
.card-body {
    text-align: center;
}
.btn-primary {
    background-color: #3468D9;
    border: none;
}
.btn-primary:hover {
    background-color: #285bb5;
}
.container {
    position: relative;
    margin-top: 50px;
}
.forum-container {
    position: absolute;
    right: 20px;
    top: 50px;
    width: 300px;
    z-index: 1;
}
/* Variables de colores */
:root {
    --color-primario: #007BFF;
    --color-secundario: #6C757D;
    --color-fondo: #F8F9FA;
    --color-texto: #212529;
    --color-hover: #0056b3; /* Un tono más oscuro para hover */
}

/* Colores de fondo */
body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar {
    background-color: var(--color-primario);
    color: white;
}

.navbar a.nav-link {
    color: white;
}

.navbar a.nav-link:hover {
    color: var(--color-hover);
}

/* Botones */
.btn-primary {
    background-color: var(--color-primario);
    border-color: var(--color-primario);
}

.btn-primary:hover {
    background-color: var(--color-hover);
    border-color: var(--color-hover);
}

/* Tarjetas */
.card {
    background-color: white;
    border: 1px solid var(--color-secundario);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: var(--color-primario);
}

.card-text {
    color: var(--color-secundario);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
