<div class="header">
    <div class="header-content">
        <div class="search-section">
            <h2>busca tu curso ideal...</h2>
            <form id="search-form">
                <input type="text" id="search-input" placeholder="aprende ya...">
                <button type="submit">buscar</button>
            </form>
        </div>
        <div class="logo1">
            <h1>Easy English</h1>
        </div>
    </div>
</div>
<section class="my-5 py-4">
    <div class="text-center mt-5">
        <p class="fs-1">¿Qué Ofrecemos?</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 d-flex justify-content-center" style="margin-right: 0;">
        <div class="col">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <h5 class="card-title fs-1">Cursos</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <h5 class="card-title fs-1">Profesores</h5>
                </div>
            </div>
        </div>
    </div>
</section>