<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="header bg-light py-4">
    <div class="container">
        <div class="row align-items-center">
            <!-- Logo Section -->
            <div class="col-12 col-md-6 text-center text-md-start mb-3 mb-md-0">
                <h1 class="display-4 fw-bold">Easy English</h1>
            </div>
            <!-- Search Section -->
            <div class="col-12 col-md-6">
                <div class="search-section">
                    <h2 class="h5 mb-3 text-center text-md-start">Busca tu curso ideal...</h2>
                    <form id="search-form" class="d-flex">
                        <div class="input-group">
                            <input type="text" id="search-input" class="form-control" placeholder="Escribe aquí...">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search"></i> Buscar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="my-5 py-4">
    <div class="text-center mt-5">
        <p class="fs-1">¿Qué Ofrecemos?</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 d-flex justify-content-center" style="margin-right: 0;">
        <div class="col">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <a href="../pages/cursos.html" class="btn fs-1">Cursos</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <a href="../pages/profesores.html" class="btn fs-1">Profesores</a>
                </div>
            </div>
        </div>
    </div>
</section>