<footer class="footer">
    <div class="footer-left">
        <div class="footer-logo">
            <img src="../assets/logo2.jpg" alt="Logo" class="footer-logo-img">
            <span class="footer-company-name">Easy English</span>
        </div>
        <div class="footer-copyright">
            &copy; 2024 Todos los derechos reservados.
        </div>
    </div>
    <div class="footer-lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="footer-right">
        <nav class="footer-nav">
            <a href="#">home</a>
            <a href="#">cursos</a>
            <a href="#">profesores</a>
            <a href="../pages/nosotros.html">nosotros</a>
            <a href="#">contacto</a>
            <button class="btn-signin" onclick="location.href='components/login.html'">Sign In</button>
        </nav>
    </div>
</footer>