<footer class="footer">
    <div class="footer-left">
        <div class="footer-logo">
            <img src="../assets/logo2.jpg" alt="Logo" class="footer-logo-img">
            <span class="footer-company-name">Easy English</span>
        </div>
    </div>

        <!-- Texto "Síguenos" y redes sociales -->
     <div class="footer-center">
            <h2>Seguinos</h2>
            <div class="redes-sociales">
                <a href="https://instagram.com" target="_blank">
                    <img src="../assets/instagram-2-1-logo-svgrepo-com.png" alt="Instagram">
                </a>
                <a href="https://linkedin.com" target="_blank">
                    <img src="../assets/linkedin-svgrepo-com.png" alt="LinkedIn">
                </a>
                <a href="https://facebook.com" target="_blank">
                   <img src="../assets/icons8-facebook-48.png" alt=""> 
                </a>
                <a href="https://discord.com" target="_blank">
                    <img src="../assets/icons8-logotipo-de-la-discordia-50.png" alt="">
                </a>
                <a href="https://twitter.com" target="_blank"> 
                    <img src="../assets/icons8-twitterx-48.png" alt=""> </a>
            </div>
    </div>

        <!-- Navegación del footer -->
        <nav class="footer-nav">
            <a href="../index.html">
              <img src="../assets/icons8-casa-50.png" alt="">
              <p>Página Principal</p>
            </a>
            <a href="../pages/contacto.html" alt="">
            <img src="../assets/icons8-charla-50.png" alt=""> 
            <p>Contacto</p>
            </a>
            <a href="../pages/nosotros.html">
            <img src="../assets/icons8-grupo-de-personas-50.png" alt="">
            <p>Nosotros</p>
        </a>
        </nav>

        <!-- Derechos de autor -->
        <div class="footer-copyright">
            &copy; 2024 Todos los derechos reservados.
        </div>
    </footer>
