<footer class="footer">
    <div class="footer-left">
        <div class="footer-logo">
            <img src="../assets/logo2.jpg" alt="Logo" class="footer-logo-img">
            <span class="footer-company-name">Easy English</span>
        </div>
    </div>

        <!-- Texto "Síguenos" y redes sociales -->
     <div class="footer-center">
            <h2>Seguinos</h2>
            <div class="redes-sociales">
                <a href="https://instagram.com" target="_blank">
                    <img src="../assets/instagram-2-1-logo-svgrepo-com.png" alt="Instagram">
                </a>
                <a href="https://linkedin.com" target="_blank">
                    <img src="../assets/linkedin-svgrepo-com.png" alt="LinkedIn">
                </a>
            </div>
    </div>

        <!-- Navegación del footer -->
        <nav class="footer-nav">
            <a href="#">Cursos</a>
            <a href="#">Profesores</a>
            <a href="../pages/nosotros.html">Nosotros</a>
        </nav>

        <!-- Derechos de autor -->
        <div class="footer-copyright">
            &copy; 2024 Todos los derechos reservados.
        </div>
    </footer>
