<nav class="nav navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">

        <!-- Toggler for mobile screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="align-items-center">
                <!-- Logo Section -->
                <div class="logo nav-link">
                    <img src="../assets/recursos/logo1.jpg" alt="Logo" class="logo2">
                </div>
            </ul>
            <ul class="navbar-nav ms-auto menu align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pages/cursos.html">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pages/profesores.html">Profesores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pages/contactanos.html">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pages/nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <button class="btn-snin" onclick="location.href='../pages/login.html'">Conectarse</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="scrol"></div>