
<nav class="nav">
    <div class="logo"><img src="../assets/recursos/logo1.jpg" alt="Logo" class="logo2"></div>
    <ul class="menu">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="#">Cursos</a></li>
        <li><a href="../pages/profesores.html">Profesores</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="../pages/nosotros.html">Nosotros</a></li>
        <li><button class="btn-snin"onclick="location.href='../components/login.html'">Conectarse</button></li>
    </ul>
</nav>
<div id="scrol"></div>
</html>
