<!-- <nav class="navbar my-5 mx-5">
    <div class="navbar-brand">
        <img src="../assets/logo2.jpg" alt="Logo" class="logo">
    </div>
    <button class="navbar-toggle d-md-none" aria-label="Toggle navigation">
        <span class="navbar-toggle-icon"></span>
    </button>
    <ul class="navbar-menu">
        <li><a href="#">home</a></li>
        <li><a href="cursos.html">cursos</a></li>
        <li><a href="profesores.html">profesores</a></li>
        <li><a href="contacto.html">contacto</a></li>
        <li class="navbar-buttons">
            <button class="btn-signin" onclick="location.href='components/login.html'">Sign In</button>
        </li>
    </ul>
</nav> -->
<nav class="nav">
    <div class="logo"><img src="../assets/logo2.jpg" alt="Logo" class="logo2"></div>
    <ul class="menu">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Cursos</a></li>
        <li><a href="#">Profesores</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Nostros</a></li>
        <li><button class="btn-signin"onclick="location.href='components/login.html'">Conectarse</button></li>
    </ul>
</nav>
<div class="scrol"></div>

